.about {
    background: $white;
    height: 100vh;
    display: flex;
    @include bp (768) {
        flex-direction: column;
    }
}

.about--half {
    width: 50%;
    height: 100vh;
    display: flex;
    @include bp(768) {
        width: 100%;
    }
    &__left {
        background-color: $secondary;
        @include bp(768) {
            height: 40vh;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
        }
    }
    &__right {
        background-color: $white;
        position: relative;
        color: $primary;
        @include bp(768) {
            height: 60vh;
            padding-top: 5%;
        }
    }
}

.about--half__right .wrapper {
    display: flex;
}

.about--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include bp(768) {
        height: 40vh;
    }
    position: relative;
    & h1 {
        font-size: 7rem;
    }
    & h4 {
        position: absolute;
        color: $primary;
    }
}

.circle--about {
    width: 150px;
    height: 150px;
    background-color: $lightGrey;
    background: url('/src/assets/dleecam.jpg');
    background-size: 200%;
    background-position: -85px -40px;
    position: absolute;
    left: -80px;
    top: 100px;
    clip-path: circle(50%);
    @include bp (768) {
        left: inherit;
        right: 20px;
        top: -150px;
    }
}

.about--blurb {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include bp(768) {
        height: 60vh;
        justify-content: flex-start;
        align-items: flex-start;
        }
    &__text {
        display: flex;
        flex-direction: column;
        & a {
            margin: 0;
            padding: 0;
        }
        & p {
            margin-top: 15px;
        }
    }
}