.contact {
    background: $white;
    height: 100vh;
    display: flex;
        @include bp (768) {
        flex-direction: column;
    }
}

.contact--half {
    width: 50%;
    height: 100vh;
    display: flex;
    @include bp (768) {
        width: 100%;
    }
    &__left {
        background-color: $secondary;
        @include bp(768) {
            height: 40vh;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
        }
    }
    &__right {
        background-color: $white;
        position: relative;
        color: $medGrey;
        @include bp(768) {
            height: 60vh;
            padding-top: 5%;
        }
    }
}

.contact--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    @include bp (768) {
        height: 40vh;
        width: 100%;
    }

    & h1 {
        font-size: 7rem;
        @include bp (570) {
            font-size: 5rem;
        }
    }
    & h4 {
        position: absolute;
        color: $primary;

    }
}

.contact--half__right .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include bp(768) {
        align-items: flex-start;
    }
}

form {
    width: 70%;
}

.form--input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $secondary;
    &__submit {
        display: block;
    }
}

textarea {
    padding: 5px;
}

.circle--contact {
    width: 150px;
    height: 150px;
    background-color: $lightGrey;
    background-image: url('/public/assets/heyhellowhatsup-jannes-709617-unsplash.jpg');
    background-size: 200%;
    background-position: -85px -40px;
    position: absolute;
    left: -80px;
    top: 275px;
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    @include bp(768) {
        left: inherit;
        top: -150px;
        right: 20px;
    }
     @include bp (570) {
        display: none
    }
}