.home {
    background: $white;
    height: 100vh;
    display: flex;
    @include bp(768) {
        flex-direction: column;
    }
}

.header--half {
    width: 50%;
    height: 100vh;
    display: flex;
    @include bp(768) {
        width: 100%;
    }
    &__left {
        background-color: $primary;
        display: flex;
        flex-direction: column;
        @include bp(768) {
            height: 60vh;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
        }
        & .wrapper {
            position: relative;
        }
    }

    &__right {
        background-color: $white;
        position: relative;
        z-index: 3;
        @include bp(768) {
            height: 40vh;
            // padding-top: 5%;
        }
    }
}

.header--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    @include bp(768) {
        height: 60vh;
    }
    & h1 {
        font-size: 7rem;
    }
    & h4 {
        position: absolute;
        color: $secondary;
    }
}



.circle {
    width: 280px;
    height: 280px;
    -webkit-clip-path: circle(50% at 70%);
    clip-path: circle(50% at 70%);
    background-color: $lightGrey;
    background: url('/public/assets/andrzej-kryszpiniuk-421139-unsplash.jpg');
    background-size: 200%;
    position: absolute;
    left: -190px;
    top: 150px;
    transform: rotate(35deg);
    @include bp(768) {
        width: 100px;
        height: 100px;
        top: -70px;
        left: 0px;
        right: 250px;
        opacity: 0;
    }
}



// Right Content

.header--half__right .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.content__container__list {
    display: flex;
    flex-direction: column;
    color: $secondary;
    overflow: hidden;
    height: 60px;
    text-align: center;
    scro
    &__item {
        margin: 10px 0;
        & h1 {
            font-size: 6rem;
        }
    }
}



// scrolltop ()