.pagination {
	position:fixed;
	left:40px;
	top: 50%;
    transform: translateY(-50%);
	font-size:1.4em;
	z-index: 99;
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color: $white;
	position:relative;
	padding:4px;
	@include bp (768) {
		color: $secondary;
	}
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	left:15px;
	top: 0;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
	font-size: 1.6rem;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

// social 

.social {
	top: 50%;
    position: fixed;
	right: 20px;
	transform: translateY(-50%);
	z-index: 999;
    & ul {
		display: flex;
		flex-direction: column;
        width: 100%;
		margin-bottom: 15px;
    }
    & ul li {
        margin: 5px 0px;
    }
    & ul li a {
        font-size: 2.4rem;
        color: $lightGrey;
		transition: 300ms;
		@include bp (768) {
			font-size: 2rem;
		}
		&:hover {
			color: $medGrey;
		}
    }
}

.social--link a:hover {
    color: $lightGrey;
}


// navigation
.navBar {
    color: $secondary;
}