.portfolio {
    background: $white;
    height: 100vh;
    display: flex;
    transform: all 200ms;
    @include bp(768) {
        flex-direction: column;
    }
}

.portfolio--half {
    width: 50%;
    height: 100vh;
    display: flex;
    @include bp(768) {
        width: 100%;
        height: 50vh;
    }
    &__left {
        background-color: $lightGrey;
        display: flex;
        flex-direction: column;
        overflow: visible;
        z-index: 10;
        @include bp (768) {
            height: 30vh;
            display: none;
        }
        @include bp (570) {
            height: 80vh;
            display: block;
        }
    }
    &__right {
        background-color: $white;
        position: relative;
        @include bp(768) {
            height: 100vh ;
        }
        @include bp (570) {
            height: 20vh;
        }
        & .wrapper {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 200ms;
            @include bp(768) {
                height: 100vh;
            }
            @include bp (570) {
            height: 20vh;
        }
        }
    }
}

.portfolio--title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & h1 {
        font-size: 7rem;
        color: $lightGrey;
        @include bp (570) {
            font-size: 5rem;
        }
    }
    & h4 {
        position: absolute;
        color: $secondary;
    }
}

.portfolio--project {
    @include bp(768) {
        display: flex;
        flex-wrap: wrap;
    }
    @include bp (570) {
        display: none;
    }
}

.project {
    color: $medGrey;
    display: none;
    margin-top: 20px;

    @include bp (768) {
        width: 50%;
    }
    @include bp (570) {
        width: 100%;
    }
    & h2 {
        margin-top: 15px;
        @include bp (570) {
            font-size: 2rem;
        }
    }
    & figure {
        width: 60%;
        @include bp(570) {
            width: 40%;
        }
    }
    &--wrap {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include bp (570) {
            width: 90%;
        }
    }
    &--links {
        display: flex;
        margin-top: 20px;
        @include bp (768){
            display: none;
        }
    }
    & p {
        @include bp(768) {
            display: none;
        }
    }
}

.project--icons {
    display: none;
    & a {
        font-size: 2.4rem;
    }
    @include bp (768) {
        display: block;
    }

}

.visible {
    display: block;
}


.portfolio--contentBlock{
    width: 100%;
    height: 25%;
    padding-left: 50px;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: all 300ms;
    cursor: pointer;
    &:hover {
        width: 105%;
        transform: all 300ms;
        @include bp (570) {
            width: 100%;
        }

    }
    & h1 {
        width: 70%;
        z-index: 11;
        @include bp (480) {
            font-size: 2.4rem;
        }
    }
    &__one {
        background-color: $primary;
    }
    &__two {
        background-color: #3d3c3c;
    }
    &__three {
        background-color: $medGrey;
    }
    &__four {
        background-color: $lightGrey;
    }
}

.project--icons__inside {
    position: absolute;
    bottom: 10px;
    left: 40px;
    z-index: 12;
    & a {
        font-size: 2.4rem;
    }
}

.portfolio--phone {
    width: 120px;
    transform: rotate(25deg);
    margin-right: 50px;
    position: absolute;
    right: 0;
    bottom: -80px;
    transform: all 200ms;
}

.pink {
    color: $secondary;
}