.skills {
    background: $white;
    height: 100vh;
    display: flex;
    @include bp (768) {
        flex-direction: column;
    }
}

.skills--half {
    width: 50%;
    height: 100vh;
    @include bp (768) {
        width: 100%;
        height: 50vh;
    }
    display: flex;
    flex-wrap: wrap;
    &__left {
        background-color: $primary;
        @include bp(768) {
            height: 40vh;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
        }
    }
    &__right {
        background-color: $white;
        position: relative;
        color: $lightGrey;
        @include bp(768) {
            height: 60vh;
            padding-top: 5%;
        }
    }
}

.skills--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include bp (768) {
        height: 40vh;
        width: 100%;
    }
    position: relative;
    & h1 {
        font-size: 7rem;
        @include bp (570) {
            font-size: 5rem;
        }
    }
    & h4 {
        position: absolute;
        color: $secondary;
    }
}

.skills--blurb {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    @include bp(768) {
        height: 60vh;
        justify-content: flex-start;
        align-items: flex-start;
        }
    & h1 {
        margin: 15px;
        font-size: 5rem;
        @include bp(570) {
            font-size: 3.6rem;
        }
        &:hover {
            color: $secondary;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}